* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}


body {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  color:#4b89a3;
  margin-bottom: 40px;
}

.encabezado h1, p {
  font-family: 'Courier New', Courier, monospace;
}

.calculadora-contenedor {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
}

.calculadora-estructura {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  gap: 5px;
  padding: 5px;
  background-color: rgb(21, 4, 63);
  border-radius: 15px;
  margin-bottom: 50px;
}

#pantalla {
  grid-area: 1/1/2/4;
  height: 110px;
  border: none;
  border-radius: 10px;
  background-color: rgb(64, 36, 133);
  text-align: right;
  color: white;
  margin-bottom: 30px;
  padding-right: 8px;
  font-size: 70px;
}

#n1 {
  grid-area: 2/1/3/2;
  height: 65px;
  &:hover {
    background-color: rgb(53, 22, 133);
    cursor: pointer;
  }
}

#n2 {
  grid-area: 2/2/3/3;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#n3 {
  grid-area: 2/3/3/4;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#n4 {
  grid-area: 3/1/4/2;
  height: 65px;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#n5 {
  grid-area: 3/2/4/3;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#n6 {
  grid-area: 3/3/4/4;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#n7 {
  grid-area: 4/1/5/2;
  height: 65px;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#n8 {
  grid-area: 4/2/5/3;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#n9 {
  grid-area: 4/3/5/4;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#n0 {
  grid-area: 5/1/6/2;
  height: 65px;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#punto {
  grid-area: 5/2/6/3;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#nC {
  grid-area: 5/3/6/4;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#mas {
  grid-area: 6/1/7/2;
  height: 65px;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#menos {
  grid-area: 6/2/7/3;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#por {
  grid-area: 7/1/8/2;
  height: 65px;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#dividir {
  grid-area: 7/2/8/3;
  &:hover {
    background-color: rgb(53,22,133);
    cursor: pointer;
  }
}

#igual {
  grid-area: 6/3/8/4;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(231, 38, 38);
  font-size: 30px;
  &:hover {
    background-color: rgb(154, 6, 6);
    cursor: pointer;
  }
}


#n1, #n2, #n3, #n4, #n5, #n6, #n7, #n8, #n9, #n0, #punto, #mas, #menos, #por, #dividir, #nC {
  border: none;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  font-size: 30px;
}
